<div *ngIf="MensajeInformativo" class="mensaje-contenedor">
  <div class="mensaje info">
    <i class="icono fas fa-info-circle"></i>
    <span class="cerrar-btn" (click)="CerrarVentana()">&times;</span>
    <p>{{ MensajeInfor }}</p>
  </div>
</div>

<div *ngIf="MensajePositivo" class="mensaje-contenedor">
  <div class="mensaje positivo">
    <i class="icono fas fa-check-circle"></i>
    <span class="cerrar-btn" (click)="CerrarVentana()">&times;</span>
    
    <p>{{ MensajePosit }}</p>
  </div>
</div>

<div *ngIf="MensajeNegativo" class="mensaje-contenedor">
  <div class="mensaje negativo">
    <i class="icono fas fa-exclamation-circle"></i>
    <span class="cerrar-btn" (click)="CerrarVentana()">&times;</span>
    <p>{{ MensajeNegat }}</p>
  </div>
</div>
