<div class="main-container">
  <div class="navigation-banner">
    <div class="navigation-links">
      <button routerLink="/inicio" >INICIO </button>
      <button >PROMOCIONES </button>
      <button *ngIf="usuarioEsEmpresa" routerLink="/paneles/mi-empresa"  >MI EMPRESA</button>

      <Button >CARTERA <span class="flecha"> &#9660; </span> </Button>
      <button>PRODUCTOS <span class="flecha"> &#9660; </span> </button>
      <div class="submenu">
         <Button type="menu" class="boton-desplegable">TIENDA INTERNA <span class="flecha"> &#9660; </span> </Button>
        <div class="submenu-content">
          <button routerLink="/productos">Productos</button>
          <button>Informacion Bancaria</button>
          <button>Soporte de Pagos</button>
          <button>Lista de Soporte</button>
          <button *ngIf="usuarioEsEmpresa" routerLink="/paneles/registrar-productos"  >Agregar Productos</button>
          <button *ngIf="usuarioEsEmpresa" routerLink="/paneles/mis-productos"  >Mis Productos</button>
        </div>
      
      </div>
    </div>
    <button>CERRAR SESION</button>
  </div>
<div class="registrar-producto-container" >
 
  <div class="contenedor-registro">
  <h2>Registrar Producto</h2>
  <!-- -->
  <form [formGroup]="agregarProductoForm" (ngSubmit)="botonAgregarProducto()" class="agregar-producto-form">
    
    <div class="form-group">
        <label for="nombre">Nombre del producto:</label>
        <input type="string" id="nombre" formControlName="nomproducto" class="input-field" required>
    </div>

    <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" id="precio" formControlName="precioproducto" class="input-field" required>
    </div>

    <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" formControlName="stockproducto" class="input-field" required>
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" formControlName="descripcionproducto" class="textarea-field" required></textarea>
    </div>

    <div class="form-group">
        <label for="contacto">Contacto:</label>
        <input type="text" id="contacto" formControlName="contactoproducto" class="input-field" required>
    </div>

    <div class="form-group">
        <label for="imagen">Imagen Referencial:</label>
        <input type="text" id="imagen" formControlName="imagenproducto" class="input-field" required>
    </div>

    <button type="submit" [disabled]="!agregarProductoForm.valid" class="registrar-btn">Registrar Producto</button>
</form>
</div>
</div>
</div>

  
